[Unit]
Description=Aumenta ventoinha quando temperatura alta
After=syslog.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/sbin/amdmaxflowd.sh
 
[Install]
WantedBy=multi-user.target
